div.input-component {
    display: flex;
    flex-direction: column;
    transition: .3s;

    label {
        display: flex;
        justify-content: space-between;
        align-items: end;
        color: var(--color);
        transition: inherit;

        >span.label {
            white-space: nowrap
        }

        >span.message {
            font-size: .8em;
            text-align: right;
            opacity: .6;
            margin-bottom: 2px;
        }
    }

    input,
    textarea {
        padding: 8px;
        opacity: .9;
        letter-spacing: .02em;
        // color: var(--color);
        border-color: var(--color);
        border-color: color-mix(in srgb, var(--color) 60%, white);
    }

    textarea {
        resize: none;
    }
}