#my-reviews-page {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 32px;

    >div.search-header {
        width: 100%;
        max-width: 800px;
        align-self: center;
        display: flex;
        gap: 10px;
    }
}