.button {
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &.color-filled {
        fill: #ffffff;
        color: #ffffff;
        background-color: var(--color);
        border-color: var(--color);

        &:hover {
            opacity: .8;
        }
    }
    
    &:not(.color-filled) {
        fill: var(--color);
        color: var(--color);
        background-color: #ffffff;
        border-color: var(--color);
        
        &.opacity-hover:hover {
            opacity: .8;
        }

        &:not(.opacity-hover):hover,
        &.on {
            fill: #ffffff;
            color: #ffffff;
            background-color: var(--color);
        }
        &:not(.opacity-hover).on:hover {
            fill: var(--color);
            color: var(--color);
            background-color: #ffffff;
        }
    }

    &.inactive {
        opacity: .2;
        pointer-events: none;
    }

    >.rai-container {
        position: absolute;
        visibility: hidden;
    }

    &.fetching {
        >*:not(.rai-container) {
            visibility: hidden;
        }

        >.rai-container {
            visibility: visible;
        }
    }
}