.button {
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    fill: var(--color);
    color: var(--color);
    border-color: var(--color);

    &:hover,
    &.on {
        fill: #ffffff;
        color: #ffffff;
        background-color: var(--color);
    }

    &.on:hover {
        fill: var(--color);
        color: var(--color);
        background-color: #ffffff;
    }
}