#search-page {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 16px;

    >div.search-header {
        width: 100%;
        max-width: 800px;
        align-self: center;
        display: flex;
        gap: 10px;

        form.album-search {
            flex: 1;
            display: flex;
            gap: 10px;

            >input {
                flex: 1;
                padding: .4rem .8rem;
            }
        }

    }
}