.access-page {
    flex: 1;
    display: flex;

    h2 {
        font-weight: unset;
    }

    img.mypitchfork-link-logo {
        cursor: pointer;
        height: 1.2rem;
    }

    >main.content,
    >div.access-banner {
        flex: 1;
    }

    >main.content {
        min-width: min(600px, 100%);
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div.header {
            align-self: stretch;
            position: sticky;
            top: 0;
            background-color: #ffffff;
            padding: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >button.back {
                width: 40px;
                height: 40px;
                color: #000000;
                background-color: unset;
                border: none;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    font-size: 1.2rem;
                }
            }

            >img.mypitchfork-link-logo {
                padding-right: 16px;
            }
        }

        >div.form-box {
            flex: 1;
            width: 100%;
            max-width: 400px;
            padding: 16px;
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            gap: 32px;

            >div.title {
                text-align: center;
            }

            >form.login {
                display: flex;
                flex-direction: column;
                gap: 8px;

                div.form-group {
                    display: flex;
                    flex-direction: column;
                }

                button {
                    margin-top: 8px;
                }
            }
        }
    }

    >div.access-banner {
        height: 100vh;
        position: sticky;
        top: 0;
        
        flex: 1;
        background-color: #1a1a1a;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >img.mypitchfork-link-logo {
            width: 60%;
            max-width: 300px;
            height: auto;
        }
    }
}

@media screen and (max-width: 767px) {
    .access-page {
        flex-direction: column-reverse;

        >div.access-banner {
            display: none;
        }
    }
}