.album-card {
    cursor: pointer;

    >img.cover {
        height: 12vh;
        min-height: 50px;
        max-height: 80px;
    }

    >div.album-names {
        flex: 1;
        text-align: start;

        >p.album {
            font-family: TiemposHeadline, helvetica, sans-serif;
            font-style: italic;
            font-size: 1.2em;
            line-height: 1.2;
            margin-bottom: 2px;

            .explicit {
                font-size: .7em;
                color: var(--color-dark-grey);
                margin-right: .4em;
                transform: scale(1.2);
            }
        }

        >p.artists {
            line-height: 1.2;
        }
    }

    >div.tracks-data {
        font-size: .8em;
        text-align: end;
        display: flex;
        flex-direction: column;
        align-items: end;

        >p.album-type {
            font-weight: bold;
            letter-spacing: 0.06875em;
        }

        >div.extra {
            margin-top: auto;
        }
    }

    &.small {
        font-size: .9rem;

        >img.cover {
            height: 8vh;
        }
    }
}