div.example {
    align-self: stretch;
    padding: 32px 10%;
    display: flex;
    gap: 10vw;

    &.spaced-top {
        margin-top: 10vh;
    }

    &.spaced-bottom {
        margin-bottom: 10vh;
    }

    >div {
        flex: 1;
        display: flex;
        justify-content: center;

        &.text {
            flex-direction: column;
            gap: 8px;

            &.center {
                text-align: center;
                align-items: center;
            }

            >p.title {
                font-family: TiemposHeadline, helvetica, sans-serif;
                font-size: 2.5em;
                line-height: 1.2;
                max-width: 80%;
            }

            >p.description {
                font-size: 1.5em;
                line-height: 1.2;
            }

            >p:not(.title):not(.description) {
                font-size: 1.05em;
            }
        }

        &.example-image-box {
            display: flex;
            justify-content: center;
            align-items: center;

            >img.example {
                border: 1px solid #cccccc;
                width: auto;
                max-width: min(100%, 500px);
                max-height: 70vh;

                -webkit-box-shadow: 0px 4px 12px 0px rgba(204, 204, 204, 0.6);
                -moz-box-shadow: 0px 4px 12px 0px rgba(204, 204, 204, 0.6);
                box-shadow: 0px 4px 12px 0px rgba(204, 204, 204, 0.6);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    div.example {
        text-align: center;
        padding: 32px;
        flex-direction: column;
        gap: 32px;

        >div {
            align-items: center;
        }
    }
}