.notice.updates-notice {
    align-self: stretch;
    margin: unset;
    color: #3B1F8C;
    background-color: #F6F4FF;
    padding: 15px;
    border: 2px solid #BC9FFA;
    border-radius: 5px;

    &.spaced {
        margin: 16px;
    }
}