.card {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    display: flex;
    gap: 10px;
    transition: .3s;

    &:hover {
        border-color: #000000;
    }

    &.colored {
        background-color: color-mix(in srgb, var(--color) 2%, white);
        border-color: color-mix(in srgb, var(--color) 30%, white);

        &:hover{   
            border-color: color-mix(in srgb, var(--color) 80%, white);
        }
    }
}