#my-page {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;

    >div.group {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        gap: 16px;
    }
}