.album-card {
    cursor: pointer;

    >img.cover {
        height: 12vh;
    }

    >div.album-names {
        flex: 1;

        >p.name {
            font-family: TiemposHeadline, helvetica, sans-serif;
            font-style: italic;
            font-size: 1.2em;
        }
    }

    >div.tracks-data {
        font-size: .8em;
        text-align: end;
        display: flex;
        flex-direction: column;
        align-items: end;

        >p.album-type {
            font-weight: bold;
            letter-spacing: 0.06875em;
        }
    }
}

// @media screen and (max-width: 1023px) {
//     .album-card {
//         font-size: .9rem;

//         >img.cover {
//             height: 10vh;
//         }
//     }
// }