.my-profile-owner-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    div.line {
        display: flex;
        gap: 16px;
        
        >.button {
            flex: 1;
        }
    }
}

@media screen and (max-width: 767px) {
    .my-profile-owner-buttons {
        flex-direction: column;
        align-items: stretch;
    }
}