div.form-input {
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        justify-content: space-between;
        align-items: end;

        >span.label {
            white-space: nowrap
        }

        >span.message {
            font-size: .8em;
            text-align: right;
            opacity: .6;
            margin-bottom: 2px;
        }
    }

    input {
        padding: 8px;
    }

    div.errors {
        margin: 2px;
        display: flex;
        flex-direction: column;

        span.error {
            font-size: .8rem;
            color: var(--error-color);
            line-height: 1.2;
        }
    }

    &.error {
        // color: var(--error-color);

        input {
            border-color: var(--error-color);
        }
    }
}