#review-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


    >button {
        align-self: center;
        width: calc(100% - 2 * 20px);
        max-width: 800px;

        svg {
            margin-bottom: 2px;
        }
    }

    >div.author {
        align-self: center;
        width: calc(100% - 2 * 20px);
        max-width: 800px;
        display: flex;
        align-items: center;
        gap: 8px;

        >input.author {
            flex: 1;
            padding: 8px;
        }
    }

    >div.album-review {
        align-self: stretch;
        text-align: center;
        padding: 10vh 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        >div.review {
            font-size: 1rem;

            padding: 32px;
            display: flex;
            gap: 20px;

            >div.text {
                flex: 1;
                padding: 0 32px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                >p.type {
                    font-weight: bold;
                    font-size: .75rem;
                    letter-spacing: 0.06875em;
                }

                >p.name {
                    font-family: TiemposHeadline, helvetica, sans-serif;
                    font-style: italic;
                    font-size: 3em;
                }

                >p.artists {
                    font-size: 1.75em;
                }

                >p.year {
                    font-size: .875rem;
                }
            }

            >div.others {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                >div.cover-box {
                    max-width: 312px;
                    margin: 8px;
                    display: flex;

                    >img.cover {
                        width: 100%;
                    }
                }

                >div.score-box {
                    margin-left: 32px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    >.crown {
                        fill: #ff3530;
                    }

                    >p.score {
                        width: 134px;
                        height: 134px;
                        color: #2b2b2b;
                        font-size: 3rem;
                        font-weight: bold;
                        border: 7px solid #2b2b2b;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    >p.target {
                        font-weight: bold;
                        font-size: .75rem;
                        letter-spacing: 0.06875em;
                        color: #ff3530;
                    }
                }

                &.best-new {
                    >div.score-box {
                        >p.score {
                            color: #ff3530;
                            border-color: #ff3530;
                            margin: 16px 0;
                        }
                    }
                }
            }

            &.track-review {
                background-color: #000000;
                color: #ffffff;

                >div.text>p.type {
                    color: #ff3530;
                }

                >div.others:not(.best-new)>div.score-box>p.score {
                    color: #ffffff;
                    border-color: #ffffff;
                }
            }
        }

        >p.author {
            font-size: 14px;
            margin: 16px 16px 0;
        }
    }

    >div.scores {
        width: 100%;
        max-width: 800px;
        padding: 20px;
        margin-bottom: 10vh;
        display: flex;
        flex-direction: column;

        >div.scores-header {
            margin-bottom: 10px;
            display: flex;
            align-items: end;
            gap: 10px;

            button {
                height: 2.5rem;
                font-size: 1.25rem;

                &.best-new>.crown {
                    height: 14px;
                }
            }

            >p.title {
                flex: 1;
                font-size: 2rem;
                line-height: 1;
            }
        }
    }

    >span {
        margin: auto;
        letter-spacing: 1px;
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 1023px) {
    #review-page>div.album-review>div.review {
        // background-color: blue;

        &.resized-text {
            font-size: .75rem;
            // background-color: greenyellow;
        }
    }
}

@media screen and (max-width: 767px) {
    #review-page {
        >div.album-review {
            min-height: calc(768px - var(--header-height));
            padding: 0;

            >div.review {
                padding: 32px 16px;
                flex-direction: column;

                >div.text {
                    p.name {
                        font-size: 2em;
                    }
                }

                >div.others {
                    width: unset;

                    >div.cover-box {
                        max-width: 208px;
                    }
                }
            }
        }
    }
}

// SQUARE
@media screen and (max-width: 432px) and (max-height: 432px) {
    #review-page {
        // background-color: red;

        >div.album-review {
            // border: 2px solid blue;
            min-height: calc(440px - var(--header-height));
            font-size: .6rem;

            >div.review {
                padding: 16px;
                flex-direction: column;
                gap: 0;

                font-size: .75rem;

                &.resized-text {
                    font-size: .65rem;

                    >div.others {
                        &.best-new {
                            margin-top: unset;
                        }

                        >div.cover-box {
                            max-width: 120px;
                        }
                    }
                }

                >div.text {
                    gap: .5rem;

                    p.name {
                        font-size: 2em;
                    }
                }

                >div.others {
                    margin-top: 16px;

                    >div.cover-box {
                        max-width: 140px;
                    }

                    >div.score-box {
                        >.crown {
                            max-height: 18px;
                        }

                        >p.score {
                            width: 104px;
                            height: 104px;
                            font-size: 2.2rem;
                            border-width: 5px;
                        }

                        >p.target {
                            font-size: .65rem;
                        }
                    }

                    &.best-new {
                        >div.score-box {
                            >p.score {
                                margin: 12px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}