div.notice {
    font-size: 1rem;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    span.strong {
        font-weight: bold;
        font-size: 1.1em;
        margin: 4px 0;
    }
    
    &.spaced {
        margin: 16px;
    }
}