#home-page {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .button {
        margin: 32px 0;
    }

    >div.main {
        padding: 10vh 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        >h2 {
            font-weight: unset;
        }

        >h1 {
            margin-bottom: 16px;
        }
    }
}