.banner {
    // --banner-color: #275ac7 !important; 

    color: #3a3a3a;
    background-color: #f8f8f8;
    border: 2px solid #cacaca;

    color: color-mix(in srgb, var(--banner-color), black 5%);
    background-color: color-mix(in srgb, var(--banner-color) 5%, white);
    border-color: color-mix(in srgb, var(--banner-color) 30%, white);

    align-self: stretch;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &.spaced {
        margin: 16px;
    }

    >.line {
        display: flex;
        gap: 20px;
    }

    .title {
        font-weight: bold;
        font-size: 1.1em;
        margin: 4px 0;
    }

    a {
        color: inherit;
        font-weight: bold;
        transition: .3s;
    }
}